CREATE OR ALTER PROCEDURE SanitizarClientesExcelFerreteriaTipada
AS
BEGIN
    SET NOCOUNT ON;

    --------------------------------------------------
    -- CREAR O LIMPIAR TABLA (MEJOR PRÁCTICA)
    --------------------------------------------------
    IF OBJECT_ID('dbo.ClientesSanitizados') IS NULL
    BEGIN
        CREATE TABLE dbo.ClientesSanitizados (
            Id INT,
            Nombre VARCHAR(100),
            Apellido VARCHAR(100),
            DNI INT,
            FechaNacimiento DATE NULL,
            Email VARCHAR(255) NULL,
            Telefono VARCHAR(50) NULL,
            Direccion VARCHAR(255) NULL,
            Ciudad VARCHAR(100) NULL
        );
    END
    ELSE
    BEGIN
        TRUNCATE TABLE dbo.ClientesSanitizados;
    END

    --------------------------------------------------
    -- BASE + SANITIZACIÓN
    --------------------------------------------------
    ;WITH Base AS (
        SELECT 
            Id,
            LTRIM(RTRIM(Nombre)) AS Nombre,
            LTRIM(RTRIM(Apellido)) AS Apellido,
            DNI,
            FechaNacimiento,
            LOWER(LTRIM(RTRIM(Email))) AS Email,
            LTRIM(RTRIM(Telefono)) AS Telefono,
            LTRIM(RTRIM(Direccion)) AS Direccion,
            LTRIM(RTRIM(Ciudad)) AS Ciudad
        FROM ClientesExcelFerreteriaTipada
    ),
    DupEmail AS (
        SELECT Email
        FROM Base
        WHERE Email IS NOT NULL
        GROUP BY Email
        HAVING COUNT(*) > 1
    )
    INSERT INTO ClientesSanitizados
    SELECT
        b.Id,
        b.Nombre,
        b.Apellido,
        b.DNI,

        -- Fecha válida
        CASE 
            WHEN b.FechaNacimiento > GETDATE() THEN NULL
            WHEN DATEDIFF(YEAR, b.FechaNacimiento, GETDATE()) < 18 THEN NULL
            WHEN DATEDIFF(YEAR, b.FechaNacimiento, GETDATE()) > 100 THEN NULL
            ELSE b.FechaNacimiento
        END AS FechaNacimiento,

        -- Email sanitizado
        CASE 
            WHEN b.Email IS NULL THEN NULL
            WHEN b.Email NOT LIKE '%_@_%._%' THEN NULL
            WHEN d.Email IS NOT NULL THEN NULL
            ELSE b.Email
        END AS Email,

        -- Teléfono sanitizado
        CASE 
            WHEN b.Telefono IS NULL OR b.Telefono = '' THEN NULL
            WHEN b.Telefono LIKE '%[^0-9+ ]%' THEN NULL
            WHEN LEN(b.Telefono) < 7 THEN NULL
            ELSE b.Telefono
        END AS Telefono,

        NULLIF(b.Direccion, '') AS Direccion,
        NULLIF(b.Ciudad, '') AS Ciudad

    FROM Base b
    LEFT JOIN DupEmail d ON b.Email = d.Email;

    --------------------------------------------------
    -- JSON FINAL (ÚNICA SALIDA PARA API)
    --------------------------------------------------
    SELECT 
        COUNT(*) AS totalRegistros,

        SUM(CASE WHEN Email IS NOT NULL THEN 1 ELSE 0 END) AS emailsUtilizables,
        CAST(SUM(CASE WHEN Email IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS pctEmailsUtilizables,

        SUM(CASE WHEN Telefono IS NOT NULL THEN 1 ELSE 0 END) AS telefonosUtilizables,
        CAST(SUM(CASE WHEN Telefono IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS pctTelefonosUtilizables,

        SUM(CASE WHEN Email IS NOT NULL OR Telefono IS NOT NULL THEN 1 ELSE 0 END) AS registrosUtilizables,
        CAST(SUM(CASE WHEN Email IS NOT NULL OR Telefono IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*) AS DECIMAL(5,2)) AS pctUtilizables,

        CAST(
            (SUM(CASE WHEN Email IS NOT NULL OR Telefono IS NOT NULL THEN 1 ELSE 0 END) * 100.0 / COUNT(*))
        AS INT) AS scoreCalidad

    FROM ClientesSanitizados
    FOR JSON PATH, ROOT('resumen');

END;

EXEC SanitizarClientesExcelFerreteriaTipada;